<h1>{{ portalName }}</h1>

<p>
Welcome to the Student Course Portal.
</p>
<p><strong>Available Courses:</strong> {{ availableCourses }}</p>

<hr>

<button
  [disabled]="!isPortalActive"
  (click)="onEnrollClick()">
  Enroll Now
</button>

<p>{{ message }}</p>

<hr>

<h3>Search Courses</h3>

<input
type="text"
[(ngModel)]="searchTerm"
placeholder="Search course">

<p>Searching for: {{ searchTerm }}</p>
<hr>

<h2>Course Card</h2>
<hr>

<h2>Available Courses</h2>

<app-course-card
    *ngFor="let c of courses"
    [course]="c"
    (enrollRequested)="onEnroll($event)">
</app-course-card>

<p *ngIf="selectedCourseId">
    Selected Course ID: {{ selectedCourseId }}
</p>